._app {
  position: relative;
  z-index: 1;
  max-width: 90rem;
  height: 100%;
  padding-top: $headerHeight;
  overflow: hidden;
  background: white;
  box-shadow: 1px 0 #c4c9cc, 1px 0 1px rgba(black, .15);
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
  @extend %border-box;

  ._booting > & { opacity: 0; }
  ._noscript > & { display: none; }
}

._booting {
  opacity: 0;

  &._loading, &._loading:before { opacity: 1; }

  &:before {
    content: 'Loading\2026';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    line-height: 1;
    margin-top: -.75em;
    font-size: 4rem;
    color: #c8c8c8;
    text-align: center;
    letter-spacing: -.125rem;
    opacity: 0;
    -webkit-transition: opacity .1s .3s;
            transition: opacity .1s .3s;
  }
}

._noscript { opacity: 1; }
