._notif, %notif {
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
  width: 25rem;
  max-width: 90%;
  padding: .625rem 1rem;
  font-size: .75rem;
  color: $notifColor;
  background: $notifBackground;
  border-radius: .25rem;
  transition: opacity .2s;
  opacity: 0;
  cursor: default;
  @extend %border-box, %user-select-none;

  &._in { opacity: 1; }
}

._notif-title {
  margin: 0 0 .375rem;
  line-height: 1rem;
  font-size: inherit;
}

._notif-text { margin-bottom: 0; }
._notif-text + ._notif-text { margin-top: .25rem; }

._notif-info {
  float: right;
  color: $textColorLight;
}

._notif-link,
._notif-link:hover {
  color: inherit;
  text-decoration: underline;
}

._notif-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .625rem;
  opacity: .9;
  cursor: pointer;

  &:before { @extend %icon, %icon-close-white; }
}

._notif-news {
  width: 20rem;
  max-height: 85%;
  overflow-y: auto;

  > ._notif-title {
    margin-bottom: .5rem;
    text-align: center;
  }

  > ._news-row {
    line-height: 1.125rem;
    font-size: .6875rem;
    color: $notifColorLight;
    margin-bottom: .25rem;

    + ._news-row { margin-top: .75rem; }
  }

  ._news-title {
    display: block;
    margin-bottom: .25rem;
    font-size: .75rem;
    font-weight: normal;
    color: white;
  }

  ._news-date {
    float: right;
    margin-left: 1rem;
    font-weight: bold;
  }

  code {
    display: inline-block;
    vertical-align: baseline;
    line-height: 0;
    margin: 0 .25rem;
    padding: 0;
    color: inherit;
    background: none;
    border: 0;
  }
}

._notif-list {
  margin: .5em 0;
  padding-left: 1rem;
}

._notif-tip {
  color: $textColor;
  background: rgba($tipBackground, .95);
  border: 1px solid $tipBorder;
}
