//
// Page
//

._page {
  position: relative;
  min-height: calc(100% - 1.25rem);

  &._page-error { position: static; }

  > h1 { @extend ._lined-heading; }
  > h1:first-child { margin-top: 0; }

  a[href^="http:"], a[href^="https:"] { @extend %external-link; }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 1em;
    padding: 1px;
    border: 1px dotted var(--boxBorder);
    border-radius: 3px;
    @extend %border-box;
  }
}

//
// Links
//

._links {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  line-height: 2em;
  text-align: right;

  + h1 { margin-top: 0; }

  @media (max-width: 1023px) { display: none; }
}

._links-link {
  display: inline-block;
  vertical-align: top;
  padding: 0 .5rem;
  background: var(--contentBackground);
  @extend %internal-link;

  & + & { margin-left: .75rem; }
  &:first-child { padding-left: 1rem; }
  &:last-child { padding-right: 0; }
}

//
// Attribution box
//

._attribution {
  clear: both;
  margin: 2rem 0 1.5rem;
  font-size: .75rem;
  color: var(--textColorLight);
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;

  & + & { margin-top: 1.5rem; }
  & + & > ._attribution-link { display: none; }
}

._attribution-p {
  display: inline-block;
  margin: 0;
  padding: .25rem .75rem;
  background: var(--labelBackground);
  border-radius: 3px;
}

._attribution-link { @extend %internal-link; }

//
// Entry list
//

._entry-list {
  padding-left: 1em;
  list-style: none;
}
