._cakephp {
  @extend %simple;

  h3 > .source { float: right; }
  h3 > a, span.label, span.php-keyword1 { font-weight: normal; }

  h4 {
    margin: 1.5em 0;
    @extend %block-label;
  }

  dl { margin: 1em 0; }

  .info { @extend %note; }
  code { @extend %label; }
  p > .label, dt > .label, div > .label { @extend %label, %label-yellow; }
}
