._chai {
  padding-left: 1rem;

  > h1, > h2, h3 { margin-left: -1rem; }
  > h2 { @extend %block-heading; }
  h3 { @extend %block-label, %label-blue; }
  h4 { font-size: 1em; }

  code { @extend %label; }
  blockquote { @extend %note; }

  li.tag span { margin-right: 5px; }
}
