._haskell-api {
  > h2 { @extend %block-heading; }
  > h3 { @extend %block-label; }
  h4 { font-size: 1em; }

  .module + .package, p.src > .link { float: right; }

  .src {
    white-space: normal;
    @extend %code;
  }
  p.src {
    font-size: .8125rem;
    @extend %block-label, %label-blue;
  }
  dt.src { white-space: normal; }

  > .subs { margin-left: 2em; }
  .subs p.src { margin-top: 1em; }

  dt > code, .complexity, .version { @extend %label; }
  .complexity, .version { @extend %label-green; }

  table { margin: 1em 0; }
  td > pre { margin: 0; }

  .warning { @extend %note; }
}
