._postgres {
  padding-left: 1rem;

  h1, h1 ~ p, h1 ~ pre, h1 ~ ul, h1 ~ blockquote, h2, .navfooter { margin-left: -1rem; }
  h2 { @extend %block-heading; }

  .variablelist dt { @extend %block-label, %label-blue; }

  blockquote.note, blockquote.important, blockquote.tip, blockquote.caution { @extend %note; }
  blockquote.tip { @extend %note-green; }
  blockquote.caution { @extend %note-orange; }

  blockquote > h3 {
    font-size: .875rem;
    margin: 0 0 .25rem;
  }

  p > code { @extend %label; }
  p.c2 { font-weight: var(--boldFontWeight); }

  .navfooter > table { width: 100%; }
  td[align=center] { text-align: center; }
  td[align=right] { text-align: right; }
}
