._rdoc {
  > .description, > .documentation-section { padding-left: 1rem; }
  > .description > h2, header > h3, > h2 { @extend %block-heading; }
  > .description > h2, header > h3, .method-heading { margin-left: -1rem; }
  .description > h1 { font-size: 1rem; }
  .method-description > h2, h3, h4, h5, h6 { font-size: 1em; }

  .method-heading {
    font-weight: var(--boldFontWeight);
    @extend %block-label, %label-blue;

    + .method-heading { margin-top: -.5em; }
  }

  > .meta {
    @extend %note, %note-blue;

    > dd { margin: 0; }
    > dd + dt { margin-top: .5em; }
  }

  a.method-click-advice {
    float: right;
    font-size: .75rem;
    color: var(--linkColor);
    cursor: pointer;
    @extend %user-select-none;

    &:hover { text-decoration: underline; }

    @include print {
      display: none;
    }
  }

  .method-description { position: relative; }

  .method-source-code {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -1em;
    right: 0;
    background: var(--contentBackground);
    box-shadow: 0 1em 1em 1em var(--contentBackground);

    > pre { margin: 0; }
  }

  // Rails guides
  .note { @extend %note; }
  .info { @extend %note, %note-blue; }
  .warning { @extend %note, %note-red; }
}
