._redis {
  padding-left: 1rem;

  // Index

  > .commands {
    padding-left: 0;
    list-style: none;

    > li { margin-bottom: 1em; }
  }

  .command, .summary { display: block; }

  .args {
    font-size: .75rem;
    color: var(--textColorLight);
  }

  // Others

  > h1, > h2, > .metadata, > h1 ~ p, > h1 + pre { margin-left: -1rem; }
  > h2 ~ p { margin-left: 0; }

  > h2 { @extend %block-heading; }
  p > code { @extend %label; }

  > .metadata { @extend %note, %note-green; }
  > .metadata > p { margin: 0; }

  > .example {
    white-space: normal;
    @extend %pre;

    > .prompt {
      float: left;
      margin-right: .5em;
      color: var(--textColorLight);
    }

    > code {
      display: block;
      clear: left;
      margin-bottom: .5em;

      &:last-child { margin-bottom: 0; }
    }
  }
}
