%simple {
  padding-left: 1rem;

  h1, h2, h3 { margin-left: -1rem; }
  h2 { @extend %block-heading; }
  h3 { @extend %block-label, %label-blue; }
  h4 { font-size: inherit; }

  ._mobile & {
    padding-left: 0;

    h1, h2, h3 { margin-left: 0; }
  }

  p > code, li > code, td > code, blockquote > code, dd > code { @extend %label; }
  blockquote { @extend %note; }
  blockquote > h4, blockquote > h5 { margin-top: .25rem; }
}

._apache_pig,
._bower,
._chai,
._codeceptjs,
._docker,
._electron,
._fish,
._flow,
._gnu,
._grunt,
._haxe,
._immutable,
._influxdata,
._jasmine,
._jest,
._less,
._lodash,
._marionette,
._markdown,
._mocha,
._mongoose,
._nim,
._redux,
._requirejs,
._simple,
._typescript,
._vagrant,
._vulkan,
._yarn {
  @extend %simple;
}
