%sphinx {
  h2 { @extend %block-heading; }
  h3 { @extend %block-label; }
  h4 { font-size: 1em; }
  > dl:not(.docutils) > dt { @extend %block-label, %label-blue; }
  dd > dl:not(.docutils) > dt { @extend %block-label; }
  dt + dt { margin-top: -.5em; }

  .note, .admonition, div.versionadded, div.versionchanged, .deprecated-removed, .deprecated, .topic { @extend %note; }

  .important { @extend %note-orange; }
  .warning, .deprecated-removed, .deprecated { @extend %note-red; }
  .hint { @extend %note-green; }

  .versionmodified, span.title, .topic-title {
    display: block;
    font-weight: var(--boldFontWeight);
  }

  p > code, li > code, dd > code, .docutils > dt > code { @extend %label; }

  ul.simple { margin: 1em 0; }

  h2 > a, h3 > a, dt[id] > a.external, dt[id] > a.internal { float: right; }

  .admonition-title {
    float: left;
    margin: 0 .5em 0 0;
    font-weight: var(--boldFontWeight);

    &:after { content: ':'; }
  }

  .admonition > dl, .admonition > ul {
    clear: left;
    margin: 0;
  }
  .admonition-title + dl { padding-top: .5em; }

  td > div { margin: 0 !important; }
}

._sphinx {
  @extend %sphinx;
}
