<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DevDocs &mdash; API Documentation Browser</title>
  <%= stylesheet_tag 'application' %>
</head>
<body>
  <div class="_fail">
    <h1 class="_fail-title">Your browser is unsupported, sorry.</h1>
    <p class="_fail-text">DevDocs is an API documentation browser which supports the following browsers:</p>
    <ul class="_fail-list">
      <li>Recent versions of Firefox, Chrome, or Opera</li>
      <li>Safari 9.1+</li>
      <li>Edge 16+</li>
      <li>iOS 10+</li>
    </ul>
    <p class="_fail-text">
      If you're unable to upgrade, I apologize.
      I decided to prioritize speed and new features over support for older browsers.
    </p>
    <p class="_fail-text">
      &mdash; Thibaut <a href="https://twitter.com/DevDocs" class="_fail-link">@DevDocs</a>
    </p>
  </div>
</body>
</html>
