<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DevDocs &mdash; API Documentation Browser</title>
  <%= stylesheet_tag 'application' %>
</head>
<body>
  <div class="_fail">
    <h1 class="_fail-title">Your browser is unsupported, sorry.</h1>
    <p class="_fail-text">DevDocs is an API documentation browser which supports the following browsers:</p>
    <ul class="_fail-list">
      <li>Recent versions of Firefox, Chrome, or Opera</li>
      <li>Safari 11.1+</li>
      <li>Edge 17+</li>
      <li>iOS 11.3+</li>
    </ul>
    <p class="_fail-text">
      If you're unable to upgrade, we apologize.
      We decided to prioritize speed and new features over support for older browsers.
    </p>
    <p class="_fail-text">
      &mdash; <a href="https://twitter.com/DevDocs">@DevDocs</a>
    </p>
  </div>
</body>
</html>
