%icon {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: image-url('icons.png');
  background-size: 5rem 11rem;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  %icon { background-image: image-url('icons@2x.png'); }
}

%icon-dir                   { background-position: 0 0; }
%icon-search                { background-position: -1rem 0; }
%icon-link                  { background-position: -2.25rem -.25rem; }
%icon-clear                 { background-position: -3rem 0; }
%icon-close-white           { background-position: -4rem 0; }
%icon-settings              { background-position: 0 -1rem; }
%icon-check                 { background-position: -1rem -1rem; }
._icon-http:before          { background-position: -2rem -1rem; }
._icon-jquery:before        { background-position: -3rem -1rem; }
._icon-underscore:before    { background-position: -4rem -1rem; }
._icon-html:before          { background-position: 0 -2rem; }
._icon-css:before           { background-position: -1rem -2rem; }
._icon-dom:before           { background-position: -2rem -2rem; }
._icon-dom_events:before    { background-position: -3rem -2rem; }
._icon-javascript:before    { background-position: -4rem -2rem; }
._icon-backbone:before      { background-position: 0 -3rem; }
._icon-node:before          { background-position: -1rem -3rem; }
._icon-sass:before          { background-position: -2rem -3rem; }
._icon-less:before          { background-position: -3rem -3rem; }
._icon-angular:before       { background-position: -4rem -3rem; }
._icon-coffeescript:before  { background-position: 0 -4rem; }
._icon-ember:before         { background-position: -1rem -4rem; }
%icon-menu                  { background-position: -2rem -4rem; }
%icon-home                  { background-position: -3rem -4rem; }
._icon-jqueryui:before      { background-position: -4rem -4rem; }
._icon-jquerymobile:before  { background-position: 0 -5rem; }
._icon-lodash:before        { background-position: -1rem -5rem; }
._icon-php:before           { background-position: -2rem -5rem; }
._icon-ruby:before          { background-position: -3rem -5rem; }
._icon-rails:before         { background-position: -4rem -5rem; }
._icon-python:before        { background-position: 0 -6rem; }
._icon-git:before           { background-position: -1rem -6rem; }
._icon-redis:before         { background-position: -2rem -6rem; }
._icon-postgresql:before    { background-position: -3rem -6rem; }
._icon-d3:before            { background-position: -4rem -6rem; }
._icon-knockout:before      { background-position: 0 -7rem; }
._icon-moment:before        { background-position: -1rem -7rem; }
._icon-c:before             { background-position: -2rem -7rem; }
%icon-path                  { background-position: -3rem -7rem; }
._icon-yii:before           { background-position: -4rem -7rem; }
._icon-cpp:before           { background-position: 0 -8rem; }
._icon-go:before            { background-position: -1rem -8rem; }
._icon-express:before       { background-position: -2rem -8rem; }
._icon-grunt:before         { background-position: -3rem -8rem; }
._icon-maxcdn:before        { background-position: -4rem -8rem; }
._icon-laravel:before       { background-position: 0 -9rem; }
._icon-haskell:before       { background-position: -1rem -9rem; }
._icon-requirejs:before     { background-position: -2rem -9rem; }
._icon-chai:before          { background-position: -3rem -9rem; }
._icon-sinon:before         { background-position: -4rem -9rem; }
._icon-cordova:before       { background-position: 0 -10rem; }
._icon-markdown:before      { background-position: -1rem -10rem; }
._icon-django:before        { background-position: -2rem -10rem; }
._icon-xpath:before         { background-position: -3rem -10rem; }
