// Variables needed to style the error message for browsers that don't support CSS variables.
$baseFont: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
$textColor: #333;

html {
  --baseFont: #{$baseFont};
  --monoFont: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --boldFontWeight: 500;
  --bolderFontWeight: 600;

  --textColorRed: #f44336;

  --splashText: var(--loadingText);

  --selectionText: #fff;
  --transparentSelectionText: rgba(255, 255, 255, 0.9);

  --notifColor: #fff;
  --notifColorLight: #ccc;

  --maxWidth: 80rem;
  --headerHeight: 3rem;
  --sidebarWidth: 20rem;
  --sidebarMediumWidth: 16rem;

  --focusBackground: #e5e5e5;
  --focusBorder: #d4d4d4;
  --focusText: #000;

  --contentZ: 1;
  --sidebarZ: 2;
  --headerZ: 3;
  --noticeZ: 4;
  --hoverZ: 5;
}
