$baseFont: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
$monoFont: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$boldFontWeight: 500;
$bolderFontWeight: 600;

$style: 'dark';

$maxWidth: 80rem;
$headerHeight: 3rem;
$sidebarWidth: 20rem;
$sidebarMediumWidth: 16rem;

$documentBackground: #222;
$contentBackground: #33373a;

$externalsBackground: #fff;

$textColor: #cbd0d0;
$textColorLight: #9da5ad;
$textColorLighter: #77787a;
$textColorRed: #f44336;

$inputFocusBorder: false;

$focusBackground: #3f4042;
$focusBorder: #000;
$focusText: #f7f2f2;

$loadingText: #5d6164;
$splashText: $loadingText;

$selectionBackground: #007acc;
$selectionBorder: #000;
$selectionText: #fff;

$highlightBackground: #64675f;

$linkColor: $textColor;
$linkColorHover: white;
$linkTextDecoration: underline;

$headerBackground: #1c1c1c;
$headerBorder: #000;

$sidebarBackground: #24282a;
$sidebarBorder: #000;

$scrollbarColor: #6c6c6f;
$scrollbarColorHover: #949697;

$pathBackground: $headerBackground;
$pathBorder: $headerBorder;

$noticeBackground: $sidebarBackground;
$noticeBorder: $sidebarBorder;

$boxBackground: $sidebarBackground;
$boxBorder: $headerBorder;
$boxBorderLight: $headerBorder;
$boxHeaderColor: #dbe4e4;
$boxHeaderBackground: $sidebarBackground;

$noteBackground: #45474b;
$noteBorder: #000;

$noteGreenBackground: #284a2a;
$noteGreenBorder: #000;

$noteBlueBackground: #2a4151;
$noteBlueBorder: #000;

$noteOrangeBackground: #563322;
$noteOrangeBorder: #000;

$noteRedBackground: #603033;
$noteRedBorder: #000;

$labelBackground: $boxBackground;

$notifBackground: rgba(#555, .95);
$notifBorder: 1px solid #000;
$notifColor: #fff;
$notifColorLight: #ccc;

$tipBackground: $notifBackground;
$tipBorder: $notifBorder;

$mediumScreen: '(max-width: 800px)';

$contentZ: 1;
$sidebarZ: 2;
$headerZ: 3;
$noticeZ: 4;
$hoverZ: 5;
