$baseFont: 'Open Sans', Helvetica, Arial, sans-serif;
$monoFont: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$style: 'dark';

$headerHeight: 3rem;
$sidebarWidth: 18rem;
$sidebarMediumWidth: 16rem;

$contentBackground: #303030;

$textColor: #c9c9c9;
$textColorLight: #858585;
$textColorLighter: #706f6f;

$inputFocusBorder: #444;

$focusBackground: #3d3d3e;
$focusBorder: #3d3d3e;
$focusText: #f7f2f2;

$loadingText: #616161;
$splashText: #616161;
$promoText: #616161;

$selectionBackground: #346fce;
$selectionBorder: #346fce;
$selectionText: #fff;

$highlightBackground: #3d4449;

$linkColor: #fff;
$linkColorHover: #fff;

$headerBackground: #1c1c1c;
$headerBorder: #1c1c1c;

$sidebarBackground: #262626;
$sidebarBorder: #262626;

$scrollbarColor: #515151;
$scrollbarColorHover: #888;

$pathBackground: $headerBackground;
$pathBorder: $headerBorder;

$noticeBackground: #1c1c1c;
$noticeBorder: #1c1c1c;

$boxBackground: #262626;
$boxBorder: #000;
$boxBorderLight: #000;
$boxHeaderBackground: #262626;

$noteBackground: #3a4031;
$noteBorder: #000;

$noteGreenBackground: #223e23;
$noteGreenBorder: #000;

$noteBlueBackground: #223546;
$noteBlueBorder: #000;

$noteOrangeBackground: #523121;
$noteOrangeBorder: #000;

$noteRedBackground: #5b1f22;
$noteRedBorder: #000;

$labelBackground: #3c3c3e;

$notifBackground: rgba(#000, .85);
$notifColor: #fff;
$notifColorLight: #bbb;

$tipBackground: #3d4449;
$tipBorder: #566166;

$mediumScreen: '(max-width: 800px)';

$contentZ: 1;
$sidebarZ: 2;
$headerZ: 3;
$noticeZ: 4;
$hoverZ: 5;
